* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 50px;
  background: #fff;
}

.navbar-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.navbar img {
  width: 35px;
}

.navbar li {
  margin-right: 60px;
}

.navbar li a {
  color: #393e46;
  text-align: center;
  text-decoration: none;
}

.navbar li:hover {
  color: #222831;
  font-weight: 600;
}

.navbar-right a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #c70c6d;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  transition-duration: 0.2s;
}

.navbar-right a:hover {
  font-weight: 600;
  color: #c70c6d;
  background-color: #fff;
  border: 1px solid #c70c6d;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.title h1 {
  font-family: "Playfair Display";
  color: #c70c6d;
  font-size: 100px;
  font-weight: 100;
  letter-spacing: 10px;
  animation: fadein 4s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.title h2 {
  color: #222831;
  margin-top: -60px;
  animation: fadein 4s ease;
}

.title img {
  display: none;
}

#about {
  padding: 25px 50px;
}

#about h2 {
  font-family: "Playfair Display";
  color: #c70c6d;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: -50px;
  opacity: 0.2;
}

#about p {
  text-align: center;
  font-size: 18px;
}

#work {
  padding: 50px;
  margin-bottom: 50px;
}

#work h2 {
  font-family: "Playfair Display";
  color: #c70c6d;
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: -40px;
  opacity: 0.2;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  flex: 30%;
  max-width: 30%;
  margin: 10px 10px;
  transition: all 0.3s ease-in-out;
}

.column:hover {
  background: #fcf1f1;
  border-radius: 20px;
}

.column img {
  vertical-align: middle;
  width: 100%;
  padding: 0px 10px;
}

.column h3 {
  font-size: 14px;
  text-align: center;
  padding: 0px 5px;
}

#contact {
  height: 180px;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 10px 50px;
}

.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.left a {
  text-decoration: none;
}

.left h3 {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  letter-spacing: 3px;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
}

.social-icons a {
  margin-right: 30px;
}

.fab {
  font-size: 40px;
  color: #fff;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.right img {
  width: 100px;
}

.right p {
  font-size: 12px;
  color: #fff;
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 0px 25px;
  }

  .navbar li {
    margin-right: 20px;
  }

  .title {
    height: 500px;
  }

  .title h1 {
    font-size: 60px;
  }

  .title h2 {
    margin-top: -40px;
  }

  .title img {
    display: none;
  }

  #about {
    padding: 10px 40px;
  }

  #work {
    margin: 15px 0px;
    padding: 0;
  }

  #work h2 {
    margin-left: 50px;
  }

  .row {
    align-items: center;
  }

  .column {
    flex: 40%;
    max-width: 40%;
  }

  #contact {
    height: 140px;
    padding: 0px 25px;
  }

  .left h3 {
    font-size: 16px;
  }

  .right p {
    font-size: 10px;
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    padding: 0px 10px;
  }

  .navbar li {
    font-size: 14px;
    margin-right: 20px;
  }

  .navbar-right a {
    font-size: 12px;
    padding: 8px 15px;
  }

  .navbar img {
    display: none;
  }

  .title {
    height: 500px;
  }

  .title h1 {
    font-size: 45px;
    letter-spacing: 3px;
  }

  .title h2 {
    font-size: 16px;
    margin-top: -35px;
  }

  .title img {
    display: block;
    width: 50%;
    margin-bottom: -40px;
  }

  #about {
    padding: 10px 40px;
  }

  #about p {
    font-size: 16px;
  }

  #work {
    margin: 15px 0px;
    padding: 0;
  }

  #work h2 {
    margin-left: 40px;
  }

  .row {
    flex-direction: column;
    align-items: center;
  }

  .column {
    flex: 80%;
    max-width: 80%;
  }

  #contact {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 0px 10px;
  }
  
  .social-icons {
  justify-content: center;
}

  .social-icons a {
  margin:0px 30px;
}



  .left h3 {
    font-size: 20px;
  }

  .right p {
    font-size: 10px;
  }

  .right {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

}
